<section class="zero">
    <div class="container">
        <p class="zero-pre-title" data-aos="fade-right">Справжнє місто</p>
  <h2 class="zero-title" data-aos="fade-right" data-aos-delay="200">NEW YORK</h2>
  <p class="zero-after-title" data-aos="fade-right" data-aos-delay="500">
    Зануртеся в ритм мегаполісу, де кожен куток віддзеркалює неймовірну енергію та різноманіття культур.
  </p>
        <picture class="zero-pic-first" data-aos="flip-left">
            <source srcset="./img/restaurant/1.jpg      1x, 
                        ./img/restaurant/1.jpg   2x" media="(min-width: 1280px)"
                width="460" height="574">
            <img src="./img/restaurant/1.jpg"
                alt="new york" width="244" height="322">
        </picture>
        <div class="zero-wrap">
            <picture data-aos="flip-right" class="zero-pic">
                <source srcset="./img/restaurant/2.jpg      1x, 
                        ./img/restaurant/2.jpg   2x" media="(min-width: 1280px)"
                width="460" height="574">
            <img src="./img/restaurant/2.jpg"
                alt="new york" width="244" height="322">
            </picture>
            <p class="zero-text" data-aos="fade-left">Відчуйте пульсуючий ритм мегаполісу, де кожен куточок відбиває неймовірну енергію та культурне багатство.</p>
        </div>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <picture class="zero-pic-slide">
                        <source
                            srcset="./img/restaurant/sl1.jpg 1x, ./img/restaurant/sl1.jpg 2x  "
                            media="(min-width: 1280px)">
                        <img class="slide 1" src="./img/restaurant/sl1.jpg" width="254" height="254"
                            alt="Pic1">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture class="zero-pic-slide">
                        <source
                            srcset="./img/restaurant/sl2.jpg 1x, ./img/restaurant/sl2.jpg 2x  "
                            media="(min-width: 1280px)">
                        <img class="slide 1" src="./img/restaurant/sl2.jpg" width="254" height="254"
                            alt="Pic2">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture class="zero-pic-slide">
                        <source
                            srcset="./img/restaurant/sl3.jpg 1x, ./img/restaurant/sl3.jpg 2x  "
                            media="(min-width: 1280px)">
                        <img class="slide 1" src="./img/restaurant/sl3.jpg" width="254" height="254"
                            alt="Pic4">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture class="zero-pic-slide">
                        <source
                            srcset="./img/restaurant/sl4.jpg 1x, ./img/restaurant/sl4.jpg 2x  "
                            media="(min-width: 1280px)">
                        <img class="slide 1" src="./img/restaurant/sl4.jpg" width="254" height="254"
                            alt="Pic5">
                    </picture>
                </div>
            </div>
            <div class="zero-buttons">
                <div class="swiper-button-next">
                    <svg class="zero-icon" width="32" height="32">
                        <use href="./img/icons.svg#left-arrow"></use>
                    </svg>
                </div>
                <div class="swiper-button-prev">
                    <svg class="zero-icon" width="32" height="32">
                        <use href="./img/icons.svg#right-arrow"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>