<section class="hero-hotel">
    <div class="container">
        <h1 class="hero-title hero-title-fix" data-aos="fade-down-left" data-aos-anchor-placement="center-center" >Н А М І Б І Я </h1>
        <p class="hero-text hero-text-fix" data-aos="fade-up-right" data-aos-anchor-placement="center-center" data-aos-delay="500">Найстаріша пустеля у самому серці Африки</p>
        <div class="hero-btn-thumb">
            <button type="button" class="hero-btn btn js-open-modal" data-modal="2">Забронювати поїздку</button>
            
        </div>
    </div>
</section>