<section class="main-hotel-s2 main-hotel">
  <div class="container correct">
    <div class="topic-hotel topic-hotel-s2 section-hotel">
      <div
        class="foto-hotel foto-hotel-s2-tablet"
        data-aos="zoom-in-up"
        data-aos-delay="800"
      ></div>
      <ul>
        <li class="topic-hotel-item-oneblock-s2">
          <p class="topic-hotel-1" data-aos="zoom-in-up">
            Звірі Намібії: різноманітність видів
          </p>
          <h2 class="topic-hotel-2" data-aos="zoom-in-up">Багатство фауни</h2>
        </li>
        <li class="topic-hotel-item-tooblock-s2">
          <h3 class="topic-hotel-3" data-aos="zoom-in-up" data-aos-delay="200">
            Різноманіття великих і малих
          </h3>
          <p
            class="topic-hotel-4-s2"
            data-aos="zoom-in-up"
            data-aos-delay="200"
          >
            Від гепардів, що стрибають на здобич, до спокійних слонів – пустеля Намібія є домом для різноманітних тварин, адаптованих до екстремальних умов.
          </p>
        </li>
      </ul>
      
    </div>
    <div
      class="foto-hotel foto-hotel-s2 section-hotel"
      data-aos="zoom-in-up"
      data-aos-delay="800"
    >
      <picture>
        <source
          srcset="./img/hotel/nami7.jpg 1x, ./img/hotel/nami7.jpg 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./img/hotel/nami7.jpg 1x, ./img/hotel/nami7.jpg 2x"
          media="(min-width: 1024px)"
        />

        <source
          srcset="
            ./img/hotel/nami7mobile.jpg 1x,
            ./img/hotel/nami7mobile.jpg 2x
          "
          media="(min-width: 384px)"
        />

        <img
          src="./img/hotel/nami7.jpg"
          srcset="./img/hotel/nami7.jpg 1x, ./img/hotel/nami7.jpg 2x"
          alt=".elefant"
          width="244"
          height="322"
        />
      </picture>
    </div>
    <div class="hotel-swiper-container hotel-triple-room">
      <div class="hotel-slide-container swiper mySwiper">
        <div class="hotel-swiper swiper-wrapper">
          <!-- Слайд 1 -->
          <div class="hotel-page-slide swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/hotel/slider1.jpg    1x,
                  ./img/hotel/slider5@2x.jpg 2x
                "
              />
              <img
                src="./img/hotel/slider1.jpg"
                width="194"
                height="194"
                alt="Pic1"
              />
            </picture>
          </div>
          <!-- Слайд 2 -->
          <div class="hotel-page-slide swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/hotel/slider2.jpg    1x,
                  ./img/hotel/slider6@2x.jpg 2x
                "
              />
              <img
                src="./img/hotel/slider2.jpg"
                width="194"
                height="194"
                alt="Pic2"
              />
            </picture>
          </div>
          <!-- Слайд 3 -->
          <div class="hotel-page-slide swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/hotel/slider3.jpg    1x,
                  ./img/hotel/slider7@2x.jpg 2x
                "
              />
              <img
                src="./img/hotel/slider3.jpg"
                width="194"
                height="194"
                alt="Pic3"
              />
            </picture>
          </div>
          <!-- Слайд 4 -->
          <div class="hotel-page-slide swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/hotel/slider4.jpg    1x,
                  ./img/hotel/slider8@2x.jpg 2x
                "
              />
              <img
                src="./img/hotel/slider4.jpg"
                width="194"
                height="194"
                alt="Pic4"
              />
            </picture>
          </div>
        </div>

        <div class="hotel-swiper-btn triple-room-btn">
          <div class="swiper-button-next">
            <button type="button" class="left-swiper-btn">
              <svg class="left-swiper-arrow">
                <use class="" href="./img/icons.svg#left-arrow"></use>
              </svg>
            </button>
          </div>
          <div class="swiper-button-prev">
            <button type="button" class="rigth-swiper-btn">
              <svg class="right-swiper-arrow">
                <use href="./img/icons.svg#right-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <!--</div>-->
      <ul class="button-hotel-s1 section-hotel" data-aos="zoom-in-up">
        <li>
          <button
            type="button"
            data-modal="2"
            class="btn-mob button-mobile-circle btn-hotel-2 js-open-modal"
          >
            Забронювати поїздку
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
