<section class="about-hotel">
  <div class="container">
    <div class="about-hotel-container">
      <div class="about-hotel-title-container">
        <p class="about-pretitles hotel-pretitle" data-aos="zoom-in-up">WINTER ATMOSPHERE</p>
  <h2 class="about-titles hotel-titles about-titles2" data-aos="zoom-in-up" data-aos-delay="200">Норвегія взимку</h2>
  <p class="about-subtitles hotel-subtitle" data-aos="zoom-in-up" data-aos-delay="500">
    
Відкрийте для себе чарівність зими в Норвегії: від високих небесних котеджів до засніжених гірських вершин.
  </p>
      </div>
      <picture data-aos="zoom-in-up" class="about-first-images first-hotel-images">
        <source srcset="./img/homepage/norway3.jpg 1x" media="(min-width: 1280px)">
        <source srcset="./img/homepage/norway3.jpg 1x" media="(min-width: 1024px)">
        <source srcset="./img/homepage/norway3mobile.jpg 1x" media="(min-width: 384px)">
        <img src="./img/homepage/norway3.jpg" alt="hall" width="460" height="554">
      </picture>
    </div>
    <div class="second-hotel-container">
      <p class="about-secondary-subtitle" data-aos="zoom-in-up">
        Зануртеся в чарівний світ Норвегії, де природа розкривається в усій красі. Від незайманих берегів до величних гірських хребтів - кожен куточок цієї країни приховує свою унікальну історію.
      </p>
      
      
      <picture data-aos="zoom-in-up" class="about-hotel-picture about-second-images" >
        <source srcset="./img/homepage/norway4.jpg 1x" media="(min-width: 1280px)">
        <source srcset="./img/homepage/norway4.jpg 1x" media="(min-width: 1024px)">
        <source srcset="./img/homepage/norway350mobile.jpg 1x" media="(min-width: 384px)">
        <img src="./img/homepage/norway4.jpg" alt="hall" width="460" height="554">
      </picture>
    </div>

    <!-- SLIDER -->
    <div class="about-hotel-slider-container hotel-wraper">
      <div class=" swiper mySwiper ">
        <div class=" hotel-swiper-wraper swiper-wrapper">
          <div class="swiper-slide hotel-swipers">
            <picture>
              <source srcset="./img/homepage/sl5.jpg      1x, 
                        ./img/homepage/sl5.jpg   2x" media="(min-width: 1280px)">
              
              <img class="about-hotel-swiper-img " src="./img/homepage/sl5.jpg"
                alt="Pic1">
            </picture>
          </div>
          <div class="swiper-slide hotel-swiper-wrapper">
            <picture>
              <source srcset="./img/homepage/sl6.jpg      1x, 
                        ./img/homepage/sl6.jpg   2x" media="(min-width: 1280px)">
              
              <img class="about-hotel-swiper-img " src="./img/homepage/sl6.jpg"
                alt="Pic2">
            </picture>
          </div>
          <div class="swiper-slide hotel-swiper-wrapper">
            <picture>
              <source srcset="./img/homepage/sl7.jpg      1x, 
                        ./img/homepage/sl7.jpg   2x" media="(min-width: 1280px)">
              
              <img class="about-hotel-swiper-img " src="./img/homepage/sl7.jpg"
                alt="Pic3">
            </picture>
          </div>
          <div class="swiper-slide hotel-swiper-wrapper">
            <picture>
              <source srcset="./img/homepage/sl8.jpg      1x, 
                        ./img/homepage/sl8.jpg   2x" media="(min-width: 1280px)">
              
              <img class="about-hotel-swiper-img " src="./img/homepage/sl8.jpg"
                alt="Pic4">
            </picture>
          </div>
          <div class="swiper-slide hotel-swiper-wrapper">
            <picture>
              <source srcset="./img/homepage/sl9.jpg      1x, 
                        ./img/homepage/sl9.jpg   2x" media="(min-width: 1280px)">
              
              <img class="about-hotel-swiper-img " src="./img/homepage/sl9.jpg"
                alt="Pic5">
            </picture>
          </div>
        </div>
        <div class="hotel-swiper-buttons ">
          <div class="swiper-button-next ">
            <button type="button" class="left-swiper-btn">
              <svg class="left-swiper-arrow">
                <use class="" href="./img/icons.svg#left-arrow"></use>
              </svg>
            </button>
          </div>
          <div class="swiper-button-prev">
            <button type="button" class="rigth-swiper-btn">
              <svg class="right-swiper-arrow">
                <use href="./img/icons.svg#right-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>