<section class="homepage-contacts section">
  <div class="container contacts-container">
    <div class="contacts-container-theme">
      <h2 class="contacts-logo">Norway</h2>
      <ul class="contacts-list list">
        <li class="contacts-item">
        </li>
        <li class="contacts-item">
          <div class="contacts-wrapper">
            <p class="contacts-info-second">Готель</p>
            <div class="contacts-thumb-two">
              <a href="tel:0668491089" class="contacts-icon-link">
                <svg class="contacts-icon" width="24" height="24">
                  <use href="./img/icons.svg#phone"></use>
                </svg>
              </a>
              <div class="contacts-thumb-three">
                <a
                  class="contacts-link contacts-link-first link"
                  href="tel:0668491089"
                >
                  066 849 10 89
                </a>
                <a class="contacts-link-second link" href="tel:0672758540"
                  >067 275 85 40
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="contacts-address-thumb">
        <address class="contacts-address">
          <a
            href="https://en.wikipedia.org/wiki/Aurland"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="contacts-address-link"
          >
            <svg class="contacts-address-icon" width="24" height="24">
              <use href="./img/icons.svg#location"></use>
            </svg>
          </a>
          <a
            class="contacts-address-location link"
            href="https://en.wikipedia.org/wiki/Aurland"
            rel="nofollow noopener"
            target="_blank"
          >
            Aurland, Norway
          </a>
        </address>
      </div>
      <button type="button" class="hero-btn btn js-open-modal" data-modal="2">Деталі</button>
    </div>
    <div class="contacts-wrap">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8713.103910849739!2d9.473680125051159!3d61.89011871805345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x461268458f4de5bf%3A0xa1b03b9db864d02b!2z0J3QvtGA0LLQtdKR0ZbRjw!5e1!3m2!1suk!2sua!4v1692996557210!5m2!1suk!2sua"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    
  </div>
</section>
