<section class="about-restaurant">
  <div class="container">
    <div class="about-rest-container">
      <div class="about-rest-title-container">
        <p class="about-pretitles" data-aos="zoom-in-up">
          Очей навколо не вистачає
        </p>
        <h2 class="about-titles" data-aos="zoom-in-up" data-aos-delay="200">
          Norway 
        </h2>
        <p class="about-subtitles" data-aos="zoom-in-up" data-aos-delay="500">
          Відкрийте дивовижні пейзажі Норвегії. Від завиваючих доріг до
          таємничих фьордів - країна неймовірних видів.
        </p>
      </div>
      <picture data-aos="zoom-in-up" class="about-first-images">
        <source
          srcset="./img/homepage/norway1.jpg 1x, ./img/homepage/norway1.jpg 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./img/homepage/norway1.jpg 1x, ./img/homepage/norway1.jpg 2x"
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./img/homepage/norway1mobile.jpg 1x,
            ./img/homepage/norway1mobile.jpg 2x
          "
          media="(min-width: 384px)"
        />

        <img
          src="./img/homepage/norway1mobile.jpg"
          alt="norway"
          width="460"
          height="574"
        />
      </picture>
    </div>
    <div class="second-picture-container">
      <!-- <div class="slider-posicion-wraper">-->
      <picture data-aos="zoom-in-up" class="about-first-images">
        <source
          srcset="./img/homepage/norway2.jpg 1x, ./img/homepage/norway2.jpg 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./img/homepage/norway2.jpg 1x, ./img/homepage/norway2.jpg 2x"
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./img/homepage/norway2mobile.jpg 1x,
            ./img/homepage/norway2mobile.jpg 2x
          "
          media="(min-width: 384px)"
        />

        <img
          src="./img/homepage/norway1mobile.jpg"
          alt="norway"
          width="460"
          height="574"
        />
      </picture>
      <p class="about-secondary-subtitle" data-aos="zoom-in-up">
        Майстерно розроблені простори в сучасному стилі, віддзеркалюють елегантність та комфорт.
        Зануртеся в атмосферу інновацій та стилю з кожним кутом цього чудового будинку.
      </p>
      </p>
    </div>
    <!-- SLIDER -->
    <div class="rest-slider-container">
      <div class="swiper mySwiper">
        <div class="rest-swiper-wrapper swiper-wrapper">
          <div class="rest-swiper-slide swiper-slide">
            <picture class="restaurant-image">
              <source
                srcset="./img/homepage/sl1.jpg 1x, ./img/homepage/sl1.jpg 2x"
                media="(min-width: 1280px)"
              />
              <img
                class="about-rest-swiper-img"
                src="./img/homepage/sl1.jpg"
                alt="Pic1"
              />
            </picture>
          </div>
          <div class="rest-swiper-slide swiper-slide">
            <picture class="restaurant-image">
              <source
                srcset="./img/homepage/sl2.jpg 1x, ./img/homepage/sl2.jpg 2x"
                media="(min-width: 1280px)"
              />
              <img
                class="about-rest-swiper-img"
                src="./img/homepage/sl2.jpg"
                alt="Pic2"
              />
            </picture>
          </div>
          <div class="rest-swiper-slide swiper-slide">
            <picture class="restaurant-image">
              <source
                srcset="./img/homepage/sl3.jpg 1x, ./img/homepage/sl3.jpg 2x"
                media="(min-width: 1280px)"
              />
              <img
                class="about-rest-swiper-img"
                src="./img/homepage/sl3.jpg"
                alt="Pic3"
              />
            </picture>
          </div>
          <div class="rest-swiper-slide swiper-slide">
            <picture class="restaurant-image">
              <source
                srcset="./img/homepage/sl4.jpg 1x, ./img/homepage/sl4.jpg 2x"
                media="(min-width: 1280px)"
              />
              <img
                class="about-rest-swiper-img"
                src="./img/homepage/sl4.jpg"
                alt="Pic4"
              />
            </picture>
          </div>
        </div>
        <div class="rest-swiper-buttons">
          <div class="swiper-button-next">
            <button type="button" class="left-swiper-btn">
              <svg class="left-swiper-arrow">
                <use class="" href="./img/icons.svg#left-arrow"></use>
              </svg>
            </button>
          </div>
          <div class="swiper-button-prev">
            <button type="button" class="rigth-swiper-btn">
              <svg class="right-swiper-arrow">
                <use href="./img/icons.svg#right-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
